Repository OpenNetworkingFoundation/EAGLE-Open-Model-Profile-and-Tools, pull requests merged in 2018-04, with the labels that each got.

#279 Fix #273 & #277: revision date in yang filename & remove hard-coding of Context name
  UmlYangTools/xmi2yang/generator/yangprocessors.js
  UmlYangTools/xmi2yang/parser/index.js
  YangJsonTools/swagger.py
Labels: UmlYangTool, YangOpenApiTool

#280 Initial commit of Yang2Uml reverse-engineering tool
  YangUmlTools/.gitignore
  YangUmlTools/.settings/org.eclipse.core.resources.prefs
  YangUmlTools/.settings/org.eclipse.jdt.core.prefs
  YangUmlTools/.settings/org.eclipse.m2e.core.prefs
  YangUmlTools/README.md
  YangUmlTools/pom.xml
  YangUmlTools/src/main/resources/bash/yang2yin.sh
  YangUmlTools/src/main/resources/xslt/yin2uml.xslt
  YangUmlTools/src/main/resources/yang/ietf-inet-types@2013-07-15.yang
  YangUmlTools/src/main/resources/yang/ietf-interfaces@2018-02-20.yang
  YangUmlTools/src/main/resources/yang/ietf-ptp-dataset@2017-02-08.yang
  YangUmlTools/src/main/resources/yang/ietf-yang-types@2013-07-15.yang
Labels: YangUmlTool

#278 Toolchain
  UmlOpenApiTools/README.md
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/Main.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/Uml2jsonParser.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/UmlParser.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/BaseClass.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/DataType.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/Enums.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/ObjectClass.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/Operation.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/OwnedAttr.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/Param.java
  UmlOpenApiTools/src/main/java/com/ctbri/uml2json/model/PrimaryType.java
Labels: UmlOpenApiTool

#283 Yang config file should support a list of revision statements (instead of a single one)
  UmlYangTools/xmi2yang/model/yang/module.js
  UmlYangTools/xmi2yang/parser/index.js
  UmlYangTools/xmi2yang/project/config.json
Labels: UmlYangTool
